#hero {
  background-image: url("../img//mito-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}

#wrapper-hero_overlay {
  background-color: rgba(0, 0, 0, 0.572);
  height: 80vh;
  position: absolute;
  z-index: 20;
  width: 100%;
}
